body {
    background-color: #EFE5DC;
    margin: 0px;
}

header {
    background-color: #283044;
    position: static;
    height: 100px;
    width: 100%;
    z-index: 1000; /* Define el nivel de profundidad del objeto */
}

a {
    text-decoration: none;
}

/* Boton volver arriba */
.up {
    position: fixed;
    color: #283044;
    font-weight: bold;
    font-size: 50px;
    height: 30px;
    width: 30px;
    left: 95%;
    top: 93%;
    border-radius: 20px;
    text-align: center;
}

/* Panel de navegacion */
.header_nav {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    top: 25%;
    text-align: center;
}

/* Botones de navegacion */
#header_a {
    position: relative;
    background-color: #78A1BB;
    box-shadow: 2px 2px 10px #000000;
    border-radius: 20px;
    color: #EBF5EE;
    text-decoration: none;
    padding: 10px;
}

.main {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;  
    position: absolute;
    display: grid;
    top: 15%;
    margin-left: 5%;
    z-index: 0; /* Define el nivel de profundidad del objeto */
}

/* Imagenes pagina principal */
#images_img {
    height: 250px;
    width: 250px;
    transition: 0.8s ease-in-out;
}

#images_img:hover {
    transform: scale(1.2);
}

/* Grid para imagenes y texto */
.images {
    display: grid;
    position: relative;
    gap: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}

/* Contenidos pagina principal */
.contents1 {
    background-color: #e2e2e2;
    box-shadow: 2px 2px 10px #283044;
    position: relative;
    width: 75%;
    grid-row: 1;
    grid-column: 2;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}
.contents2 {
    background-color: #e2e2e2;
    box-shadow: 2px 2px 10px #283044;
    position: relative;
    width: 75%;
    grid-row: 2;
    grid-column: 2;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}
.contents3 {
    background-color: #e2e2e2;
    box-shadow: 2px 2px 10px #283044;
    position: relative;
    width: 75%;
    grid-row: 3;
    grid-column: 2;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

/* Indice contenidos */
#index {
    background-color: #283044;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: #EBF5EE;
    position: fixed;
    width: 250px;
    z-index: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

/* Enlaces del indice de contenidos */
#index a {
    color: #EBF5EE;
}

/* Contenidos how-to */
main {
    position: relative;
    width: auto;
    left: 300px;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

/* Estilos imagenes how-to */
#howto_1 {
    height: 500px;
    width: 700px;
    justify-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px #000000;
}

#howto_2 {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-self: center;
    box-shadow: 2px 2px 10px #000000;
}

/* Codigo para usar how-to */
code {
    color: #EBF5EE;
    display: block;
    background-color: #78A1BB;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    font-weight: 600;
}

.code_li {
    list-style-type: none;
}

/* Icono principal */
.icon_h {
    transform: scaleX(-1);
    width: 150px;
    position: absolute;
    z-index: 1000;
}

footer {
    background-color: #283044;
    height: 75px;
    width: 100%;
}